projects/02_trivia_api/starter/frontend/node_modules
projects/03_coffee_shop_full_stack/starter_code/frontend/node_modules
projects/03_coffee_shop_full_stack/starter_code/frontend/package

.ipynb_checkpoints/
sample/
LocalStore/
FlaskRecap/
node_modules/
.DS_Store
node
notes.txt
package-lock.json
package.json
_config.yml
*.zip
*.ipynb
*.pyc
