node_modules/
node
notes.txt
package-lock.json
package.json
_config.yml
*.zip
*.ipynb
*.pyc
.DS_Store
projects/03_coffee_shop_full_stack/starter_code/frontend/node_modules
projects/03_coffee_shop_full_stack/starter_code/frontend/package

pj1/
pj2/
pj3/
LocalStore/
FlaskRecap/
.ipynb_checkpoints/
