node_modules
node
*.pyc
node_modules/bootstrap/CHANGELOG.md
package-lock.json
package.json
*.zip
*.zip
pj2/Untitled.ipynb
projects/03_coffee_shop_full_stack/starter_code/frontend/node_modules
projects/03_coffee_shop_full_stack/starter_code/frontend/package
*.ipynb
